
<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <button fxHide fxShow.lt-sm
                mat-icon-button
                class="m-5"
        >
            <mat-icon>menu</mat-icon>
        </button>
        <button
            routerLink="/homepage" routerLinkActive="mat-accent"
            fxShow fxHide.lt-sm
            mat-mini-fab
            color="primary"
            class="m-5"
        >
            <mat-icon>home</mat-icon>
        </button>
        <button
            routerLink="/tasks" routerLinkActive="mat-accent"
            fxShow fxHide.lt-sm
            mat-raised-button
            color="primary"
            class="m-5"
        >
            notes
        </button>
        <span fxShow fxHide.lt-sm class="spacer"></span>
        <button
            routerLink="/signin" routerLinkActive="mat-accent"
            *ngIf="!authService.isAuthenticated"
            fxShow fxHide.lt-sm
            mat-raised-button
            color="primary"
            class="m-5"
        >
            Signin
        </button>
        <button
            fxShow
            fxHide.lt-sm
            routerLink="/signup" routerLinkActive="mat-accent"
            *ngIf="!authService.isAuthenticated"
            mat-raised-button
            color="primary"
            class="m-5"
        >
            Signup
        </button>
        <button
            *ngIf="authService.isAuthenticated"
            fxShow
            fxHide.lt-sm
            mat-raised-button
            color="primary"
            class="m-5"
            (click)="authService.signout()"
        >
            Logout
        </button>
        <button
            routerLink="/sink" routerLinkActive="mat-accent"
            fxShow fxHide.lt-sm
            mat-raised-button
            color="primary"
            class="m-5"
        >
            sink
        </button>
    </mat-toolbar-row>
</mat-toolbar>


