.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}
//how to share?
mat-card {
    min-width: 500px;
}

.spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
